## Analysis Challenge Assignment 1
### Author: Ming Chen

#### 1. Criteria
According to Alex, the school must be safe, urban, diverse and high-quality. I set some criteria for finding the schools that meets her requirements.
1.	Safety: The most common confirmation of safety in a city is the low crime rate, so I will calculate the data (sum of cases/population) from FBI's latest crime report, then exclude region of high crime rate (crime rate>0.1).
2.	Urban: Alex wants to live the big city life, so I will select the schools only located in a large city, and the school also should not be distance education only.
3.	Diversity: Alex wants to study in a diverse culture, which means the school must have people (both students and faculties) with different culture backgrounds. It means that we should check the student body by race. Those schools that have high preference (the enrollment percentage of a specific race >0.75) will be excluded from the list.
4.	Quality: First of all, Alex wants to pursue a degree in Education, so the schools must have the degrees awarded in Education (the percentage must not be 0). Second, the completion rate of the school is important, which reflects if the program is well-designed for students, as well as well-taught by teachers. Third, the students’ retention rate of the school is associated with students’ experience at the institution, which can also explain the quality of the program. I will select the schools which can award the degree in Education, and then look for the high-quality school with high completion rate (>0.7) and high retention rate (>0.7).   
5.Last but not least, the school must be currently operating.

#### 2. Import and prepare data

In [1]:
import pandas as pd
import os
os.chdir('D:\\Learning\\CU\\Courses\\EDM\\ACA1')
# change the working directory so that the dataset can be loaded

#### 2.1 college scorecard dataset

In [2]:
# BasicInfo: 'INSTNM','INSTURL','CITY','SARBBR',CURROPER' Columns for basic information of the shcool, which is useful for further investigation
# Urban: 'LOCALE','DISTANCEONLY' Columns for the criteria of urban
# Diversity: 'UGDS_WHITE','UGDS_BLACK','UGDS_HISP','UGDS_ASIAN','UGDS_AIAN','UGDS_NHPI','UGDS_2MOR','UGDS_NRA' Columns for the criteria of diversity
# Quality: 'C150_4','C150_L4','RET_FT4','RET_FTL4','PCIP13' Columns for the criteria of quality
subsetcols=['INSTNM','INSTURL','CITY','STABBR','CURROPER','LOCALE','DISTANCEONLY','UGDS_WHITE','UGDS_BLACK','UGDS_HISP','UGDS_ASIAN','UGDS_AIAN','UGDS_NHPI','UGDS_2MOR','UGDS_NRA','C150_4','C150_L4','RET_FT4','RET_FTL4','PCIP13']
CSCdata=pd.read_csv("CollegeScorecard.csv",usecols=subsetcols)
# only import columns that are useful for analysis
CSCdata

,INSTNM,CITY,STABBR,INSTURL,LOCALE,PCIP13,DISTANCEONLY,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,CURROPER,C150_4,C150_L4,RET_FT4,RET_FTL4
0,Alabama A & M University,Normal,AL,www.aamu.edu/,12.0,0.1490,0.0,0.0279,0.9501,0.0089,0.0022,0.0012,0.0010,0.0000,0.0002,1,0.2914,NaN,0.6314,NaN
1,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,12.0,0.0862,0.0,0.5987,0.2590,0.0258,0.0518,0.0026,0.0007,0.0344,0.0140,1,0.5377,NaN,0.8016,NaN
2,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,12.0,0.0000,0.0,0.2919,0.4224,0.0093,0.0031,0.0031,0.0031,0.0000,0.0000,1,0.6667,NaN,0.3750,NaN
3,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,12.0,0.0173,0.0,0.7012,0.1310,0.0338,0.0364,0.0145,0.0002,0.0161,0.0329,1,0.4835,NaN,0.8098,NaN
4,Alabama State University,Montgomery,AL,www.alasu.edu/email/index.aspx,12.0,0.2150,0.0,0.0161,0.9285,0.0114,0.0015,0.0009,0.0007,0.0064,0.0207,1,0.2517,NaN,0.6219,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,Georgia Military College-Columbus Campus,Columbus,GA,http://columbus.gmc.cc.ga.us/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
7800,Georgia Military College-Valdosta Campus,Valdosta,GA,http://valdosta.gmc.cc.ga.us/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
7801,Georgia Military College-Warner Robins Campus,Warner Robins,GA,http://robins.gmc.cc.ga.us/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
7802,Georgia Military College-Online,Milledgeville,GA,http://online.gmc.cc.ga.us/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
7803,Georgia Military College-Stone Mountain,Stone Mountain,GA,http://fairburn.gmc.cc.ga.us/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN

#### 2.2 crime dataset

In [3]:
# Befor loading the dataset, I did some changes in Excel:
# 1.delete the useless rows (like titles of the dataset, and some explanations for the data)
# 2.set the numerical type for some columns
# 3.do some comlementary work for the first column of State. For better merging the two dataset: replace the state name with their abbreiations, and then drag it to fill the blank.
# 4.For better merging with the CSCdataset, deleting the nubers appear in the column 2 (CITY, which is used as annotation) by using the replace function in Excel.

In [4]:
Crimedata=pd.read_csv("Crime2019.csv")
Crimedata=Crimedata.fillna(0) # Fill the blank in the list (Supposed that the blank represents 0)
Crimedata

,State,City,Population,Violent,manslaughter,Rape1,Robbery,assault,Property,Burglary,LarcenyTheft,MotorVehicleTheft,Arson2
0,AL,Hoover,85670.0,114.0,4.0,15.0,27.0,68.0,1922.0,128.0,1694.0,100.0,2.0
1,AK,Anchorage,287731.0,3581.0,32.0,540.0,621.0,2388.0,12261.0,1692.0,9038.0,1531.0,93.0
2,AK,Bethel,6544.0,130.0,1.0,47.0,3.0,79.0,132.0,20.0,84.0,28.0,12.0
3,AK,Bristol Bay Borough,852.0,2.0,0.0,0.0,0.0,2.0,20.0,5.0,8.0,7.0,0.0
4,AK,Cordova,2150.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,WY,Sheridan,17895.0,9.0,0.0,4.0,0.0,5.0,369.0,75.0,278.0,16.0,3.0
8101,WY,Thermopolis,2830.0,13.0,0.0,0.0,0.0,13.0,34.0,7.0,22.0,5.0,0.0
8102,WY,Torrington,6709.0,13.0,0.0,4.0,1.0,8.0,48.0,8.0,40.0,0.0,0.0
8103,WY,Wheatland,3544.0,7.0,0.0,1.0,0.0,6.0,72.0,24.0,45.0,3.0,0.0
8104,WY,Worland,5026.0,8.0,0.0,5.0,0.0,3.0,36.0,6.0,30.0,0.0,0.0

#### 3 Refine and merge data

#### 3.1 CSCdata

In [5]:
# First of all, only schools that are currently operating should be selected.
CSC=CSCdata[CSCdata['CURROPER']==1]

In [6]:
# For the criteria of urban, only schools that are in large cities and not distance only can be selected.
CSC=CSC[CSC['LOCALE']==11]
CSC=CSC[CSC['DISTANCEONLY']==0]
CSC

,INSTNM,CITY,STABBR,INSTURL,LOCALE,PCIP13,DISTANCEONLY,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,CURROPER,C150_4,C150_L4,RET_FT4,RET_FTL4
60,University of Alaska Anchorage,Anchorage,AK,www.uaa.alaska.edu,11.0,0.0196,0.0,0.5759,0.0361,0.0735,0.0722,0.0681,0.0085,0.0982,0.0184,1,0.2547,NaN,0.7062,NaN
64,Alaska Pacific University,Anchorage,AK,www.alaskapacific.edu,11.0,0.0625,0.0,0.5441,0.0294,0.0353,0.0176,0.1706,0.0059,0.0971,0.0000,1,0.3902,NaN,0.6667,NaN
66,Charter College-Anchorage,Anchorage,AK,www.chartercollege.edu,11.0,0.0000,0.0,0.4290,0.0374,0.3241,0.0196,0.0420,0.0602,0.0612,0.0000,1,0.3534,NaN,0.4333,NaN
68,Alaska Career College,Anchorage,AK,www.alaskacareercollege.edu,11.0,0.0000,0.0,0.4000,0.1164,0.0806,0.1493,0.1851,0.0090,0.0478,0.0000,1,NaN,0.695,NaN,0.8227
70,Collins College,Phoenix,AZ,www.collinscollege.edu,11.0,0.0000,0.0,0.3465,0.0827,0.1614,0.0079,0.0276,0.0118,0.0236,0.0000,1,0.3773,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7364,DeVry University-Tennessee,Memphis,TN,www.devry.edu,11.0,0.0000,0.0,0.2776,0.6370,0.0356,0.0071,0.0036,0.0000,0.0071,0.0000,1,0.0000,NaN,0.0000,NaN
7369,DeVry University-Wisconsin,Milwaukee,WI,www.devry.edu,11.0,0.0000,0.0,0.5135,0.3041,0.0811,0.0203,0.0068,0.0068,0.0068,0.0135,1,0.0000,NaN,0.5000,NaN
7372,Northeastern University Global Network,Boston,MA,www.northeastern.edu/globalnetwork,11.0,0.0000,0.0,0.4002,0.1648,0.0876,0.0391,0.0024,0.0005,0.0174,0.1846,1,NaN,NaN,NaN,NaN
7376,Arizona College-Mesa,Mesa,AZ,www.arizonacollege.edu,11.0,0.0000,0.0,0.0679,0.1975,0.3704,0.0123,0.2407,0.0247,0.0679,0.0000,1,NaN,NaN,NaN,NaN
7379,Barber School of Pittsburgh,Pittsburgh,PA,barberschoolofpittsburgh.com,11.0,0.0000,0.0,0.4857,0.4857,0.0000,0.0000,0.0286,0.0000,0.0000,0.0000,1,NaN,0.900,NaN,0.8519

In [7]:
# For the criteria of quality, the schools should be able to award the degree in Education
CSC=CSC[CSC['PCIP13']>0]
# the schools should also have high completion rate and retention rate (>0.7) (the lengths for the program is not associated with the quality, so both four-year schools and less-than-four year schools are counted)
CSC=CSC[(CSC['C150_4']>0.7)|(CSC['C150_L4']>0.7)]
CSC=CSC[(CSC['RET_FT4']>0.7)|(CSC['RET_FTL4']>0.7)]

In [8]:
# For the criteria of cultural diversity, drop the schools with high preference of a specific race
CSC=CSC[(CSC['UGDS_WHITE']<0.75)&(CSC['UGDS_BLACK']<0.75)&(CSC['UGDS_HISP']<0.75)&(CSC['UGDS_ASIAN']<0.75)&(CSC['UGDS_AIAN']<0.75)&(CSC['UGDS_NHPI']<0.75)&(CSC['UGDS_2MOR']<0.75)&(CSC['UGDS_NRA']<0.75)]

# Create a new column for merging 'CITY' and 'STABBR', which helps locate the specific city.
CSC['city']=CSC['CITY']+[',']+CSC['STABBR']

## Create new columns to refine information for further investigation and ranking
# Create a new column to represent school quality (aggregate the completion rate and retention rate)
CSC=CSC.fillna(0)
CSC['quality']=CSC['C150_4']+CSC['C150_L4']+CSC['RET_FT4']+CSC['RET_FTL4']
# Create a new column to represent diversity (the lower the percentage of the largest race group of the school, the more diverse the school should be)
CSCslice=CSC[['UGDS_WHITE','UGDS_BLACK','UGDS_HISP','UGDS_ASIAN','UGDS_AIAN','UGDS_NHPI','UGDS_2MOR','UGDS_NRA']]
CSC['diversity']=1-CSCslice.max(axis=1)

# Refine the dataset
CSC=CSC[['INSTNM','INSTURL','city','quality','diversity']]
CSC

,INSTNM,INSTURL,city,quality,diversity
221,Bethesda University of California,www.buc.edu,"Anaheim,CA",1.7112,0.5714
255,University of California-San Diego,www.ucsd.edu,"La Jolla,CA",1.8000,0.5989
475,Point Loma Nazarene University,www.pointloma.edu,"San Diego,CA",1.6141,0.3567
710,American University,WWW.AMERICAN.EDU,"Washington,DC",1.6810,0.4329
1042,DePaul University,www.depaul.edu,"Chicago,IL",1.5583,0.4439
1101,Loyola University Chicago,www.luc.edu,"Chicago,IL",1.5642,0.3862
1116,Moody Bible Institute,www.moody.edu,"Chicago,IL",1.6209,0.3839
1547,Tulane University of Louisiana,tulane.edu,"New Orleans,LA",1.6651,0.2820
1608,Johns Hopkins University,www.jhu.edu,"Baltimore,MD",1.8958,0.5128
1666,Boston University,www.bu.edu,"Boston,MA",1.7727,0.5267
1684,Emerson College,www.emerson.edu,"Boston,MA",1.6958,0.3535
1720,Massachusetts College of Art and Design,www.massart.edu,"Boston,MA",1.5820,0.3090
1761,Simmons College,www.simmons.edu,"Boston,MA",1.5747,0.3246
1936,University of Minnesota-Twin Cities,www1.umn.edu/twincities/index.php,"Minneapolis,MN",1.6562,0.2853
2180,Creighton University,www.creighton.edu,"Omaha,NE",1.6680,0.2625
2520,Manhattan College,www.manhattan.edu,"Riverdale,NY",1.6162,0.3973
2559,New York University,www.nyu.edu,"New York,NY",1.7581,0.6163
2610,Saint Joseph's College-New York,www.sjcny.edu,"Brooklyn,NY",1.5529,0.4120
2878,Case Western Reserve University,www.case.edu,"Cleveland,OH",1.7436,0.4636
2996,Ohio State University-Main Campus,www.osu.edu,"Columbus,OH",1.7568,0.2767
3062,Xavier University,www.xavier.edu,"Cincinnati,OH",1.5990,0.2698
3174,University of Portland,www.up.edu,"Portland,OR",1.6552,0.3599
3676,Vanderbilt University,www.vanderbilt.edu,"Nashville,TN",1.8984,0.3943
3853,Texas Christian University,www.tcu.edu/,"Fort Worth,TX",1.6621,0.2620
4097,University of Washington-Seattle Campus,www.washington.edu,"Seattle,WA",1.7486,0.5601
4177,Marquette University,www.marquette.edu,"Milwaukee,WI",1.6895,0.2582
4831,World Mission University,www.wmu.edu,"Los Angeles,CA",2.0000,0.3689
7104,Access Careers,www.accesscareers.edu,"Brooklyn,NY",1.6397,0.3887

#### 3.2 Crimedata

In [9]:
Crimedata

,State,City,Population,Violent,manslaughter,Rape1,Robbery,assault,Property,Burglary,LarcenyTheft,MotorVehicleTheft,Arson2
0,AL,Hoover,85670.0,114.0,4.0,15.0,27.0,68.0,1922.0,128.0,1694.0,100.0,2.0
1,AK,Anchorage,287731.0,3581.0,32.0,540.0,621.0,2388.0,12261.0,1692.0,9038.0,1531.0,93.0
2,AK,Bethel,6544.0,130.0,1.0,47.0,3.0,79.0,132.0,20.0,84.0,28.0,12.0
3,AK,Bristol Bay Borough,852.0,2.0,0.0,0.0,0.0,2.0,20.0,5.0,8.0,7.0,0.0
4,AK,Cordova,2150.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,WY,Sheridan,17895.0,9.0,0.0,4.0,0.0,5.0,369.0,75.0,278.0,16.0,3.0
8101,WY,Thermopolis,2830.0,13.0,0.0,0.0,0.0,13.0,34.0,7.0,22.0,5.0,0.0
8102,WY,Torrington,6709.0,13.0,0.0,4.0,1.0,8.0,48.0,8.0,40.0,0.0,0.0
8103,WY,Wheatland,3544.0,7.0,0.0,1.0,0.0,6.0,72.0,24.0,45.0,3.0,0.0
8104,WY,Worland,5026.0,8.0,0.0,5.0,0.0,3.0,36.0,6.0,30.0,0.0,0.0

In [10]:
# Calculate the crime rate of each city, and create a new column for crime rate
Crimedata['CrimeRate']=(Crimedata['Violent']+Crimedata['manslaughter']+Crimedata['Rape1']+Crimedata['Robbery']+Crimedata['assault']+Crimedata['Property']+Crimedata['Burglary']+Crimedata['LarcenyTheft']+Crimedata['MotorVehicleTheft']+Crimedata['Arson2'])/Crimedata['Population']

# Create a new column for locating the city
Crimedata['city']=Crimedata['City']+[',']+Crimedata['State']

Crime=Crimedata[['city','CrimeRate']]

Crime

                        city  CrimeRate
0                  Hoover,AL   0.047555
1               Anchorage,AK   0.110440
2                  Bethel,AK   0.081907
3     Bristol Bay Borough,AK   0.051643
4                 Cordova,AK   0.006512
...                      ...        ...
8100             Sheridan,WY   0.042414
8101          Thermopolis,WY   0.033216
8102           Torrington,WY   0.018185
8103            Wheatland,WY   0.044582
8104              Worland,WY   0.017509

[8105 rows x 2 columns]

#### 3.3 merge data

In [11]:
Result=pd.merge(CSC,Crime)
# For the criteria of safety, exclude the schoold with crimerate >0.1
Result=Result[Result['CrimeRate']<0.1]
Result

,INSTNM,INSTURL,city,quality,diversity,CrimeRate
0,Bethesda University of California,www.buc.edu,"Anaheim,CA",1.7112,0.5714,0.053120
1,Point Loma Nazarene University,www.pointloma.edu,"San Diego,CA",1.6141,0.3567,0.044969
3,DePaul University,www.depaul.edu,"Chicago,IL",1.5583,0.4439,0.078670
4,Loyola University Chicago,www.luc.edu,"Chicago,IL",1.5642,0.3862,0.078670
5,Moody Bible Institute,www.moody.edu,"Chicago,IL",1.6209,0.3839,0.078670
8,Boston University,www.bu.edu,"Boston,MA",1.7727,0.5267,0.029732
9,Emerson College,www.emerson.edu,"Boston,MA",1.6958,0.3535,0.029732
10,Massachusetts College of Art and Design,www.massart.edu,"Boston,MA",1.5820,0.3090,0.029732
11,Simmons College,www.simmons.edu,"Boston,MA",1.5747,0.3246,0.029732
13,Creighton University,www.creighton.edu,"Omaha,NE",1.6680,0.2625,0.085134
14,New York University,www.nyu.edu,"New York,NY",1.7581,0.6163,0.040606
16,Ohio State University-Main Campus,www.osu.edu,"Columbus,OH",1.7568,0.2767,0.076226
19,Texas Christian University,www.tcu.edu/,"Fort Worth,TX",1.6621,0.2620,0.062750
21,Marquette University,www.marquette.edu,"Milwaukee,WI",1.6895,0.2582,0.078081
22,World Mission University,www.wmu.edu,"Los Angeles,CA",2.0000,0.3689,0.062726

#### 4 Rank

In [12]:
# The rank of the school should consider all criteria, so I will rank the quality, diversity, and crimerate separately, then use the sum of the different ranks to show the final rank
Result['rankQ']=Result.quality.rank(method='dense',ascending=False)
Result['rankD']=Result.diversity.rank(method='dense',ascending=False)
Result['rankS']=Result.CrimeRate.rank(method='dense',ascending=True)
Result['Sumrank']=Result['rankQ']+Result['rankD']+Result['rankS']
Result['Rank']=Result.Sumrank.rank(method='dense',ascending=True)
# Sort the list according to the rank
Result=Result.sort_values(by='Rank',ascending=True)
Result=Result[['INSTNM','INSTURL','city','quality','diversity','CrimeRate','Rank']]
Result

,INSTNM,INSTURL,city,quality,diversity,CrimeRate,Rank
8,Boston University,www.bu.edu,"Boston,MA",1.7727,0.5267,0.029732,1.0
14,New York University,www.nyu.edu,"New York,NY",1.7581,0.6163,0.040606,1.0
0,Bethesda University of California,www.buc.edu,"Anaheim,CA",1.7112,0.5714,0.053120,2.0
22,World Mission University,www.wmu.edu,"Los Angeles,CA",2.0000,0.3689,0.062726,3.0
9,Emerson College,www.emerson.edu,"Boston,MA",1.6958,0.3535,0.029732,4.0
1,Point Loma Nazarene University,www.pointloma.edu,"San Diego,CA",1.6141,0.3567,0.044969,5.0
16,Ohio State University-Main Campus,www.osu.edu,"Columbus,OH",1.7568,0.2767,0.076226,6.0
10,Massachusetts College of Art and Design,www.massart.edu,"Boston,MA",1.5820,0.3090,0.029732,7.0
11,Simmons College,www.simmons.edu,"Boston,MA",1.5747,0.3246,0.029732,7.0
5,Moody Bible Institute,www.moody.edu,"Chicago,IL",1.6209,0.3839,0.078670,8.0
3,DePaul University,www.depaul.edu,"Chicago,IL",1.5583,0.4439,0.078670,9.0
4,Loyola University Chicago,www.luc.edu,"Chicago,IL",1.5642,0.3862,0.078670,9.0
19,Texas Christian University,www.tcu.edu/,"Fort Worth,TX",1.6621,0.2620,0.062750,10.0
21,Marquette University,www.marquette.edu,"Milwaukee,WI",1.6895,0.2582,0.078081,11.0
13,Creighton University,www.creighton.edu,"Omaha,NE",1.6680,0.2625,0.085134,12.0

#### 5 Output dataset

In [13]:
Result.to_csv('Result.csv',index=False)
# set index as false to delete the first column (the mixed numbers)